#resources {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
}

#buildings {
	position: absolute;
	top: 0px;
	left: 300px;
}
.buildingText{
	width: 150px;
}

#buildings li {
	display: flex;
	justify-content: space-between;
	width: 600px;
}
.population ul {
	margin: 0;
	padding: 0 10px;
}
.population li {
	display: flex;
}	
